package com.edorasware.config.custom;

import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.Configuration;

@Configuration
@ComponentScan("{{packageName}}.service.impl")
public class {{capitalShortName}}Configuration {
}