package {{packageName}}.expression;

import com.edorasware.api.expression.ExpressionBean;
import com.edorasware.api.workobject.WorkObject;
import com.edorasware.api.workobject.WorkObjectService;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
 * Expression service for learning purposes.
 */
@Service
@ExpressionBean
public class {{capitalShortName}}Expression {

    private static final Logger LOG = LoggerFactory.getLogger({{capitalShortName}}Expression.class);

    private final WorkObjectService workObjectService;

    @Autowired
    public {{capitalShortName}}Expression(WorkObjectService workObjectService) {
        this.workObjectService = workObjectService;
    }

    @SuppressWarnings("unused")
    public WorkObject logButtonClick(String globalId) {
        String workObjectId = workObjectService.getWorkObjectId(globalId);
        WorkObject workObject = workObjectService.getWorkObject(workObjectId);
        LOG.info("Button clicked on workObject with ID: "+workObject.getId()+" and name: "+workObject.getName());
        return workObject;
    }
}
