package {{packageName}}.service.impl;

import {{packageName}}.service.{{capitalShortName}}Service;
import com.edorasware.api.workobject.WorkObject;
import com.edorasware.api.workobject.WorkObjectService;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
 * Default implementation for learning purposes.
 */
@Service
@Transactional
public class Default{{capitalShortName}}Service implements {{capitalShortName}}Service {

    private static final Logger LOG = LoggerFactory.getLogger(Default{{capitalShortName}}Service.class);

    private final WorkObjectService workObjectService;

    @Autowired
    public Default{{capitalShortName}}Service(WorkObjectService workObjectService) {
        this.workObjectService = workObjectService;
    }

    @Override
    public WorkObject logButtonClick(String globalId) {
        String workObjectId = workObjectService.getWorkObjectId(globalId);
        WorkObject workObject = workObjectService.getWorkObject(workObjectId);
        LOG.info("Button clicked on workObject with ID: "+workObject.getId()+" and name: "+workObject.getName());
        return workObject;
    }
}
