package {{packageName}}.controller;

import {{packageName}}.service.{{capitalShortName}}Service;
import com.edorasware.api.workobject.WorkObject;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;

@Controller
@RequestMapping("/{{shortName}}")
public class {{capitalShortName}}Controller {

    private final {{capitalShortName}}Service {{shortName}}Service;

    @Autowired
    public {{capitalShortName}}Controller({{capitalShortName}}Service {{shortName}}Service) {
        this.{{shortName}}Service = {{shortName}}Service;
    }

    @RequestMapping(value = "/{globalId}", method = RequestMethod.GET)
    @ResponseBody
    public WorkObject logButtonClick(@PathVariable("globalId") String globalId) {
        WorkObject workObject = this.{{shortName}}Service.logButtonClick(globalId);
        return workObject;
    }
}
