# {{shortName}} Addon

This file describes the structure and configuration files of the edoras one addon {{shortName}}.
Feel free to replace or extend this file to fit the addons needs.

## Maven dependency
```xml
<dependency>
    <groupId>com.edorasware.addons</groupId>
    <artifactId>edoras-addon-{{shortName}}</artifactId>
    <version>{version}</version>
</dependency>
```

## Additional configuration & properties
| Property name | Default value | Description |
| -------------| ------------- | ------------- |
| addons.{{shortName}}.myproperty | `default` | My property description |

## Change Log

### 1.0.0 (unreleased)
- Intial release