package com.edorasware.addons.config;

import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.Configuration;

@Configuration
@ComponentScan({"{{packageName}}.service.impl", "{{packageName}}.expression"})
public class {{capitalShortName}}AddonConfiguration {
}