package {{packageName}}.controller;

import {{packageName}}.service.{{capitalShortName}}Service;
import com.edorasware.commons.core.entity.GlobalId;
import com.edorasware.commons.core.entity.WorkObject;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;

@Controller
public class {{capitalShortName}}Controller {

    private final {{capitalShortName}}Service {{shortName}}Service;

    @Autowired
    public {{capitalShortName}}Controller({{capitalShortName}}Service {{shortName}}Service) {
        this.{{shortName}}Service = {{shortName}}Service;
    }

    @RequestMapping(value = "/{globalId}", method = RequestMethod.GET)
    @ResponseBody
    public WorkObject<?,?,?> logButtonClick(@PathVariable("globalId") String globalId) {
        WorkObject<?,?,?> workObject = this.{{shortName}}Service.logButtonClick(GlobalId.get(globalId));
        return workObject;
    }
}
