package {{packageName}}.service;

import com.edorasware.commons.core.entity.GlobalId;

public interface {{capitalShortName}}Service {

    /**
     * Logs the id for the given work object to console
     * @param globalId the work object globalId
     * @return the rating information
     */
    void logButtonClick(GlobalId globalId);
}
