# Addon Frontend Initializr

Run `yarn install` to bootstrap the frontend part of the addon. You will be guided through the generation of the frontend code, e.g. setting the name of your addon (the default name should just be fine).