package {{packageName}};

import com.edorasware.api.workobject.WorkObject;
import com.edorasware.api.workobject.WorkObjectService;
import com.edorasware.gear.core.task.Task;
import com.edorasware.one.micro.testing.EdorasJUnit4ClassRunner;
import com.edorasware.one.micro.testing.annotations.EdorasTest;
import com.edorasware.one.micro.testing.annotations.EdorasTestLogin;
import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.beans.factory.annotation.Autowired;

import static org.junit.Assert.assertEquals;

/**
 * Small test that just checks whether the context is successfully started
 */
@EdorasTest
@EdorasTestLogin(login = "{{shortName}}-admin")
@RunWith(EdorasJUnit4ClassRunner.class)
public class SampleComponentTest {

    // You can inject beans from the root context (edoras one context)
    @Autowired
    private WorkObjectService workObjectService;

    @Test
    public void createTask() {
        final String taskName = "taskName";
        WorkObject createdTask = WorkObject.builder().type(Task.ENTITY_TYPE).name(taskName).build();
        String id = workObjectService.create(createdTask);
        WorkObject foundTask = workObjectService.findWorkObject(id).get();
        assertEquals("The task name must be equal", taskName, foundTask.getName());
    }
}
