<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- Add additional config here -->
    <import resource="classpath*:/edoras-addon-widget-resource-config.xml"/>

    <!-- Modeler palettes -->
    <bean id="paletteConfiguration" class="com.edorasware.bpm.modeler.config.PaletteConfiguration">
        <property name="paths">
            <list>
                <value>classpath:com/edorasware/vis/palette</value>
                <value>classpath:com/edorasware/one/widgets/palette</value>
            </list>
        </property>

        <property name="baseProcessPalette"
                  value="classpath:com/edorasware/vis/palette/base.process.palette.xml"/>
        <property name="baseFormPalette"
                  value="classpath:com/edorasware/vis/palette/base.form.palette.xml"/>
        <property name="baseCasePalette"
                  value="classpath:com/edorasware/vis/palette/base.case.palette.xml"/>
        <property name="defaultProcessPaletteName"
                  value="default.process.palette.xml"/>
        <property name="defaultFormPaletteName"
                  value="default.form.palette.xml"/>
        <property name="defaultCasePaletteName"
                  value="default.case.palette.xml"/>
    </bean>

</beans>
